@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);


#search_map span{vertical-align:middle;line-height:30px;text-align:center; width:30px;height:30px;font-size:11pt;font-weight:bolder;color:black;background-image:url("../images/speechbubble05.png");background-size: cover;}
#b1{position:absolute;top:790px;left:826px;display:none;}
#b2{position:absolute;top:791px;left:797px;display:none;}
#b3{position:absolute;top:812px;left:806px;display:none;}
#b4{position:absolute;top:812px;left:834px;display:none;}
#b5{position:absolute;top:780px;left:878px;display:none;}
#b6{position:absolute;top:725px;left:925px;display:none;}
#b7{position:absolute;top:810px;left:758px;display:none;}
#b8{position:absolute;top:840px;left:650px;display:none;}
#b9{position:absolute;top:850px;left:588px;display:none;}
#b10{position:absolute;top:830px;left:582px;display:none;}
#b11{position:absolute;top:780px;left:672px;display:none;}
#b12{position:absolute;top:790px;left:565px;display:none;}
#b13{position:absolute;top:780px;left:530px;display:none;}
#b14{position:absolute;top:754px;left:545px;display:none;}
#b15{position:absolute;top:700px;left:465px;display:none;}
#b16{position:absolute;top:708px;left:603px;display:none;}
#b17{position:absolute;top:713px;left:630px;display:none;}
#b18{position:absolute;top:680px;left:638px;display:none;}
#b19{position:absolute;top:620px;left:617px;display:none;}
#b20{position:absolute;top:670px;left:703px;display:none;}
#b21{position:absolute;top:695px;left:740px;display:none;}
#b22{position:absolute;top:650px;left:750px;display:none;}
#b23{position:absolute;top:720px;left:786px;display:none;}
#b24{position:absolute;top:735px;left:840px;display:none;}
#b25{position:absolute;top:680px;left:810px;display:none;}
#b26{position:absolute;top:680px;left:830px;display:none;}
#b27{position:absolute;top:600px;left:837px;display:none;}
#b28{position:absolute;top:580px;left:837px;display:none;}
#b29{position:absolute;top:560px;left:785px;display:none;}
#b30{position:absolute;top:560px;left:760px;display:none;}
#search_box
{
	font-size: 12pt;
	margin: 0 30px;
	border:1px solid #A6A6A6;
	padding: 25px 0;
	height: 20px;
	background-color: #F6F6F6;
}
#search_map
{
	padding: 15px;
}
#search_map img
{
	width:650px;
	height:450px;
}
#search_list table
{
	width: 620px;
	/* border-bottom: 5px solid #CC3D3D; */
	border-top:5px solid #008299;
	border-bottom:5px solid #008299;
	
}
#search_list table tr td
{
	margin:0px;
	text-align: center;
	/* border-top:2px solid green; */
/* 	border-left:1px solid #008299;
	border-right:1px solid #008299; */
	border-bottom:1px solid #008299;
	border-top:1px solid #008299;
	border-collapse:collapse;
	padding: 15px 10px;
}
#search_list_p
{
	margin-left: 42px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 13pt;
}
#search_page
{
	padding: 10px 0;
}
.search_btn {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 4px 8px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 11px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.search_btn:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.search_btn:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }

#page_number
{
	font-size: 13pt;
	padding-top: -10px;
	padding: 0;
}
#search_page a
{
	padding-top: 20px;
}
/*#content #content_title Start */

#content #content_title{
	background-image: url("../images/bg.png");
	height: 200px;	
}
#content #content_title .location{
	float: right;
	_overflow: hidden;
	display: inline;
}
#content #content_title span{
	float:left;
	margin-top:30px;
	padding-left:20px;
	text-decoration: none;
	color: #CC3D3D;
	font-size: 45px;
	font-family:"µ¸¿ò",sans-serif;
}
#content #content_title{
	margin-top: 10px;
}
#content #content_title .bar_img{
	float:right;
	margin:0;
	padding:0;
	width: 150px;
	height: 150px;
}
#content #content_content{
 	float: left;
}


