<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
		ProductMapper.xml
		
		- Product Component의 Business Logic을 구현?
 -->
 
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper파일 최상위 태그 -->		
<mapper namespace="ToyProductMapper">
	
	<resultMap type="toy" id="toySelectMap">
		<result property="toyName" column="toy_name" jdbcType="VARCHAR"/>
		<result property="rentalState" column="rental_state" jdbcType="VARCHAR"/>
		<result property="toyImg" column="toy_img" jdbcType="VARCHAR"/>
		<result property="rentalCode.rentalName" column="rental_name" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="sqlToyList">
		SELECT toy_name, rental_state, toy_img, rental_name, age_subject
		FROM (SELECT t.toy_name, t.rental_state, t.toy_img, r.rental_name, t.category_code,
															 decode(t.use_age, '3개월이상', '0~1세'
                                                                                                ,'6개월이상', '0~1세'
                                                                                                ,'10개월이상', '0~1세'
                                                                                                ,'12개월이상', '1세~2세'
                                                                                                ,'12개월~36개월', '1세~2세'
                                                                                                ,'12개월~3세이상', '1세~2세'
                                                                                                ,'12개월~4세 이상', '1세~2세'
                                                                                                ,'1세이상', '1세~2세'
                                                                                                ,'1세부터', '1세~2세'
                                                                                                ,'1세~4세', '1세~2세'
                                                                                                ,'18개월-48개월까지', '1세~2세'
                                                                                                ,'13개월~36개월', '1세~2세'
                                                                                                ,'만2세이상. 30kg이내', '1세~2세'
                                                                                                ,'25개월이상', '2세~3세'
                                                                                                ,'만3세이상', '2세~3세'
                                                                                                ,'36개월이상', '3세~4세'
                                                                                                ,'37개월이상', '3세~4세'
                                                                                                ,'37개월이상, 40KG미만 사용', '3세~4세'
                                                                                                ,'3세이상', '3세~4세'
                                                                                                ,'3세이상~7세미만', '3세~4세'
                                                                                                ,'만 4세 이상 사용 / 최대하중 35kg이하', '3세~4세'
                                                                                                ,'4세이상', '4세~5세'
                                                                                                ,'4세이상. 25kg미만', '4세~5세'
                                                                                                ,'5세이상', '5세이상'
                                                                                                        ,'전체연령') as age_subject
                        FROM toy_info t, rental_shop r
             			WHERE t.rental_code = r.rental_code)
		<trim prefix="WHERE">
			<if test="searchConditionCate != ''">
				category_code in ('${searchConditionCate}') 
				<if test="searchConditionAge != ''">
					AND age_subject in ('${searchConditionAge}')
				</if>
				<if test="searchKeyword != ''">
					AND toy_name LIKE '%${searchKeyword}%'
				</if>
			</if>
			<if test="searchConditionCate == ''">
				<if test="searchConditionAge != ''">
					age_subject in ('${searchConditionAge}')
					<if test="searchKeyword != ''">
						AND toy_name LIKE '%${searchKeyword}%'
					</if>
				</if>
				<if test="searchConditionAge == ''">
					<if test="searchKeyword != ''">
						toy_name LIKE '%${searchKeyword}%'
					</if>
				</if>
			</if>
		</trim>
		ORDER BY rental_name
	</sql>
	
	<select id="getToyList" parameterType="search" resultMap="toySelectMap">
		SELECT toy_name, rental_state, toy_img, rental_name
		FROM(SELECT toy_name, rental_state, toy_img, rental_name, ROWNUM AS row_seq
						FROM(<include refid="sqlToyList"/>)
						WHERE ROWNUM &lt;= ${currentPage * pageSize} )
		WHERE row_seq BETWEEN ${(currentPage - 1) * pageSize + 1} AND ${currentPage * pageSize}
	</select>
	
	<select  id="getTotalCount"  parameterType="search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM (<include refid="sqlToyList"/>) countTable						
	 </select>
	
	<insert id="parsingDataUpdate" parameterType="guroToy">
		INSERT
		INTO toy_info(toy_code, rental_code, category_code, toy_name, business, region, made_date, get_date, use_age, rental_state, toy_img)
		VALUES(	#{toyIdid:VARCHAR},
							<if test="brchName == '구로꿈나무장난감나라'">12,</if>
							<if test="brchName == '개봉장난감나라'">13,</if>
							<choose>
								<when test="subject == '600' || subject == '700'">600,</when>
								<when test="subject == '800' || subject == '900'">700,</when>
								<when test="subject == ''">800,</when>
								<when test="subject == '0'">000,</when>
								<otherwise>#{subject:VARCHAR},</otherwise>
							</choose>
							#{maintitle:VARCHAR},
							#{fn:VARCHAR},
							#{region:VARCHAR},
							#{created:VARCHAR},
							#{issued:VARCHAR},
							#{age:VARCHAR},
							#{codeDesc:VARCHAR},
							#{toyImg:VARCHAR} )
	</insert>
	
	<update id="guroRentalShopParsing" parameterType="guroRentalShop">
		UPDATE rental_shop
		SET toy_cnt = #{toyCnt}, addr = #{addr}, tel = #{tel}, use_hours = #{useHours}, close_day = #{closeDay}, rental_term = #{rentalTerm}, rental_cnt = #{rentalCnt}
		WHERE rental_code = #{rentalCode}
	</update>
	
	<delete  id="deleteList" >delete from toy_info</delete>
</mapper>
	